:root {
  --color-white: #f5f5f5;
  --color-black: #333;
  --color-cyan: #7bb7fa;
}

html {
  /* set the base font-size */
  font-size: 62.5%;
}

body {
  /* set the default background */
  background: var(--color-white);

  /* set the default font-color */
  color: var(--color-black);
}

/* code blocks */
code[class*='language-'],
pre[class*='language-'] {
  font-size: 2rem;
}

a {
  /* set the default link color */
  color: var(--color-cyan);
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
    color: var(--color-white);
    background: var(--color-black);
}

.title {
    color: var(--color-cyan);
    background: var(--color-black);
}

h2 {
    color: var(--color-cyan);
    margin-bottom: 30px;
}

h3 {
    color: var(--color-cyan);
    margin-bottom: 10px;
}
